body {
  background: #0239B7;
  margin: 0;
  padding-top: 300px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color: #FCD82A;
  text-align: center; }

h1 {
  font-size: 64px;
  font-weight: bold; }

p {
  font-size: 32px; }
